body {
    font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
    background-color: AliceBlue;
}

#container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.column {
    flex: 1;
}

#center {
    background-color: #FFFFFF;
}

#left {
	flex: 1;
    max-width: 15%;
    background-color: CornflowerBlue;
    padding: 10px;
}

#center {
    flex: 4;  /* Make this column take up most of the remaining space */
}

#header {
    background-color: CornflowerBlue;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

#footer {
    background-color: AliceBlue;
    text-align: right;
    padding: 10px;
}

.plots {
    width: 100%;
    border-spacing: 15px;
}

.plots td {
    padding: 10px;
    text-align: center;
}

.plot {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.plots img.plot {
    width: 100%;  /* Make images responsive to the width of their cells */
    max-width: 450px;  /* Set a maximum width for the images */
    height: auto;
}

.parameter h1 {
    font-size: 16px;
    margin-bottom: 5px;
    color: DarkBlue;
    font-weight: bold;
}

.parameter div {
    font-size: 14px;
    color: white;
}

#parameter_block {
    padding: 10px;
    background-color: #6495ED;
    border-radius: 10px;
    color: white;
}

.parameter {
    margin-bottom: 20px;
}
